- ui.login = true;
doctype html
html(ng-app="app" i18n-locale=i18n.getLocale())
  include ../includes/layout/head
  body
    include ../includes/layout/menu
    include ../includes/layout/custom
    include ../includes/layout/messages
    block content
    include ../includes/layout/footer
