- var modules = "";
if page.editor
  - modules += ", 'textAngular'";
if page.minicolors
  - modules += ", 'minicolors'";
if page.switch
  - modules += ", 'toggle-switch'";
if page.uploader
  - modules += ", 'blueimp.fileupload'";
if page.tree
  - modules += ", 'ui.tree'";
if page.flowUploader
  - modules += ", 'flow'";
if page.recaptcha
  - modules += ", 'vcRecaptcha'";
if page.multiSelect
  - modules += ", 'isteven-multi-select', 'angularjs-dropdown-multiselect'"
if page.rangeSlider
  - modules += ", 'ui-rangeSlider'"
if modules !== ""
  script(type="text/javascript").
    vulpe.ng.app = angular.module('app', ['app.controllers'#{modules}]);
