- var controllerUrl = ui.controller.name ? '/' + ui.controller.service.name + '/controller/' + ui.controller.service.name + minifier + '.js' : '/javascripts/app/controllers/' + ui.controller + 'Controller' + minifier + '.js';
script(src=controllerUrl type='text/javascript')
