div#main-default-actions(data-spy="affix" data-offset-top="90")
 div.btn-group.pull-right
  a.btn.btn-default(href="" ng-click="vulpejs.cancel(); vulpejs.submitted = false")
   i.fa.fa-close.fa-fw
   span(ng-clock ng-hide="vulpejs.item._id")=__('Cancel')
   span(ng-clock ng-show="vulpejs.item._id")=__('Close')
  a#new-action-button.btn.btn-default(href="" ng-click="vulpejs.create(); vulpejs.submitted = false")
   i.fa.fa-plus.fa-fw
   =__('New')
  a#clone-action-button.btn.btn-default(href="" ng-click="vulpejs.clone(item); vulpejs.submitted = false" ng-clock ng-show="vulpejs.item._id")
   i.fa.fa-magic.fa-fw
   =__('Clone')
  button.btn.btn-default(type="submit")
   i.fa.fa-save.fa-fw
   =__('Save')
  a.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
   span.caret
  ul.dropdown-menu
   li
    button.btn.btn-link(type="submit" ng-click="vulpejs.save('NEW')")
     i.fa.fa-plus.fa-fw
     =__('Save & New')
   li
    button.btn.btn-link(type="submit" ng-click="vulpejs.save('CLOSE')")
     i.fa.fa-save.fa-fw
     =__('Save & Close')
br
