.text-center
  dir-pagination-controls(boundary-links="true" on-page-change="vulpejs.ui.pagination.history.changeHandler(newPageNumber)" template-url="/templates/pagination/dirPagination.tpl.html" pagination-id="history")
