extends layouts/site

block content
  div.container(ng-controller="#{page.controller}Controller")
    div.panel.panel-default.box-shadow
      div.panel-heading=__('I forgot my Password')
      div.panel-body
        fieldset
          div.form-group
            h1=__('Token to reset your password has been successfully sent!')
              br
              small=__('Please check your email to reset your password.')
