- var minifier = '';
if ui.minifier
  - minifier = '.min'
head
  meta(charset='utf8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width user-scalable=no')
  base(href='/')
  title= __('AppName')
  link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet' href='/stylesheets/flag-icon.min.css')
  link(rel='stylesheet' href='/stylesheets/dialogs.min.css')
  link(rel='stylesheet' href='/stylesheets/app-animation.min.css')
  link(rel='stylesheet' href='/stylesheets/app.min.css')
