ul.nav.navbar-nav.navbar-right
  li.dropdown
    a.dropdown-toggle(href="#" data-toggle="dropdown" data-hover="dropdown")
     span#current-language.flag-icon
     |&nbsp;
     //b.caret
    ul.dropdown-menu
      li
        a(href="/language/pt")
         span.flag-icon.flag-icon-br
         |&nbsp;
         =__('Portuguese')
      li
        a(href="/language/en")
         span.flag-icon.flag-icon-us
         |&nbsp;
         =__('English')
      li
        a(href="/language/es")
         span.flag-icon.flag-icon-es
         |&nbsp;
         =__('Spanish')
