div(id="messages" ng-controller="MessagesController" ng-show="messages")
  alert(ng-cloak ng-repeat="message in messages" type="{{message.type}}" close="close($index)" class="slide-down" ng-hide="!messages")
    strong(ng-if="message.type === 'success'")
      span(class="glyphicon glyphicon-ok-sign") &nbsp;
      span=__('Success!')
    strong(ng-if="message.type === 'danger'")
      span(class="glyphicon glyphicon-minus-sign") &nbsp;
      span=__('Error!')
    strong(ng-if="message.type === 'info'")
      span(class="glyphicon glyphicon-info-sign") &nbsp;
      span=__('Information!')
    strong(ng-if="message.type === 'warning'")
      span(class="glyphicon glyphicon-exclamation-sign") &nbsp;
      span=__('Warning!')
    span &nbsp; {{message.msg}}
