if app.release === 'ALFA'
  .label.label-info.release=app.release
if app.release === 'BETA'
  .label.label-warning.release=app.release
if app.release === 'RC'
  .label.label-success.release=app.release
if app.release === 'FINAL'
  .label.label-primary.release=app.release
