head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width user-scalable=no')
    base(href='/')
    title= __('SiteName')
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    if page.datetimePicker
      link(rel='stylesheet' href='/stylesheets/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet' href='/stylesheets/loading-bar.min.css')
    if page.minicolors
      link(rel='stylesheet' href='/stylesheets/jquery.minicolors.min.css')
    if page.editor
      link(rel='stylesheet' href='/stylesheets/textAngular.min.css')
    if page.switch
      link(rel='stylesheet' href='/stylesheets/angular-toggle-switch.min.css')
    if page.uploader
      link(rel='stylesheet' href='/stylesheets/blueimp-gallery.min.css')
      link(rel='stylesheet' href='/stylesheets/jquery.fileupload.min.css')
      link(rel='stylesheet' href='/stylesheets/jquery.fileupload-ui.min.css')
    link(rel='stylesheet' href='/stylesheets/dialogs.min.css')
    link(rel='stylesheet' href='/stylesheets/ng-animation.min.css')
    link(rel='stylesheet' href='/stylesheets/app-animation.min.css')
    link(rel='stylesheet' href='/stylesheets/style.min.css')
    script(src='/javascripts/moment.min.js' type='text/javascript')
    script(src='/javascripts/jquery/jquery.min.js' type='text/javascript')
    script(src='/javascripts/jquery/jquery.hotkeys.min.js' type='text/javascript')
    if page.minicolors
      script(src='/javascripts/jquery/jquery.minicolors.min.js' type='text/javascript')
    if page.uploader
      script(src='/javascripts/jquery/uploader/jquery.ui.widget.js' type='text/javascript')
      script(src='/javascripts/jquery/uploader/load-image.all.min.js' type='text/javascript')
      script(src='/javascripts/jquery/uploader/canvas-to-blob.min.js' type='text/javascript')
      script(src='/javascripts/jquery/uploader/jquery.blueimp-gallery.min.js' type='text/javascript')
      script(src='/javascripts/jquery/uploader/jquery.iframe-transport.min.js' type='text/javascript')
      script(src='/javascripts/jquery/uploader/jquery.fileupload.min.js' type='text/javascript')
      script(src='/javascripts/jquery/uploader/jquery.fileupload-process.min.js' type='text/javascript')
      script(src='/javascripts/jquery/uploader/jquery.fileupload-image.min.js' type='text/javascript')
      script(src='/javascripts/jquery/uploader/jquery.fileupload-audio.min.js' type='text/javascript')
      script(src='/javascripts/jquery/uploader/jquery.fileupload-video.min.js' type='text/javascript')
      script(src='/javascripts/jquery/uploader/jquery.fileupload-validate.min.js' type='text/javascript')
    script(src='/javascripts/bootstrap/bootstrap.min.js' type='text/javascript')
    if page.datetimePicker
      script(src='/javascripts/bootstrap/bootstrap-datetimepicker.min.js' type='text/javascript')
    script(src='/javascripts/bootstrap/bootstrap-hover-dropdown.min.js' type='text/javascript')
    script(src='/javascripts/angular/angular.min.js' type='text/javascript')
    script(src='/javascripts/angular/angular-animate.min.js' type='text/javascript')
    script(src='/javascripts/angular/angular-cookies.min.js' type='text/javascript')
    script(src='/javascripts/angular/angular-sanitize.min.js' type='text/javascript')
    script(src='/javascripts/angular/angular-i18n-node.min.js' type='text/javascript')
    script(src='/javascripts/angular/angular-translate.min.js' type='text/javascript')
    if page.minicolors
      script(src='/javascripts/angular/angular-minicolors.min.js' type='text/javascript')
    script(src='/javascripts/angular/angular-masks.min.js' type='text/javascript')
    if page.switch
      script(src='/javascripts/angular/angular-toggle-switch.min.js' type='text/javascript')
    script(src='/javascripts/angular/loading-bar.min.js' type='text/javascript')
    if page.editor
      script(src='/javascripts/angular/textAngular.min.js' type='text/javascript')
      script(src='/javascripts/angular/textAngular-sanitize.min.js' type='text/javascript')
    script(src='/javascripts/angular/ui-bootstrap-tpls.min.js' type='text/javascript')
    script(src='/javascripts/angular/ui-utils.min.js' type='text/javascript')
    script(src='/javascripts/angular/dialogs.min.js' type='text/javascript')
    if page.uploader
      script(src='/javascripts/jquery/uploader/jquery.fileupload-angular.min.js' type='text/javascript')
    script(src='/javascripts/app/directives.min.js' type='text/javascript')
    script(src='/javascripts/app/filters.min.js' type='text/javascript')
    script(src='/javascripts/app/services.js' type='text/javascript')
    script(src='/javascripts/app/controllers.min.js' type='text/javascript')
    script(src='/javascripts/app.min.js' type='text/javascript')
    if page.uploader
      script(src="/javascripts/jquery/cors/jquery.postmessage-transport.js")
      <!--[if (gte IE 8)&(lt IE 10)]>
      <script src="/javascripts/jquery/cors/jquery.xdr-transport.min.js"></script>
      <![endif]-->
    include ../app
