if ui.modules
  - var modules = "";
  if ui.modules.editor
    - modules += ", 'textAngular'";
  if ui.modules.colorPicker
    - modules += ", 'minicolors'";
  if ui.modules.switch
    - modules += ", 'toggle-switch'";
  if ui.modules.uploader
    if ui.modules.uploader.flow
      - modules += ", 'flow'";
    if ui.modules.uploader.blueimp
      - modules += ", 'blueimp.fileupload'";
  if ui.modules.tree
    - modules += ", 'ui.modules.tree'";
  if ui.modules.recaptcha
    - modules += ", 'vcRecaptcha'";
  if ui.modules.multiSelect
    - modules += ", 'isteven-multi-select', 'angularjs-dropdown-multiselect'"
  if ui.modules.rangeSlider
    - modules += ", 'ui-rangeSlider'"
  if ui.modules.dragDrop
    - modules += ", 'dndLists'"
  if ui.modules.chart
    - modules += ", 'chart.js'"
  if modules !== ""
    script(charset="utf-8" type="text/javascript").
      vulpe.ng.app = angular.module('app', ['app.controllers'#{modules}]);
