extends layouts/site

block contents
  .container(ng-controller=`${ui.controller}Controller`)
    .panel.panel-default.box-shadow
      .panel-heading=__('I forgot my Password')
      .panel-body
        fieldset
          .form-group
            h1=__('Token to reset your password has been successfully sent!')
              br
              small=__('Please check your email to reset your password.')
