link(rel="stylesheet" href="/stylesheets/all.min.css")
include ../../../../../../../views/includes/stylesheets
script(charset="utf-8" src="/javascripts/all-external.min.js" type="text/javascript")
script(charset="utf-8" src="/javascripts/all-internal.min.js" type="text/javascript")
script(charset="utf-8" src=`/javascripts/all-auto${minifier}.js` type="text/javascript")
