- var minifier = "";
if ui.minifier
  - minifier = ".min";
- var title = "AppName";
if ui.site
  - title = "SiteName";
unless ui.modules
  - ui.modules = {uploader: {}};
unless ui.modules.uploader
  - ui.modules.uploader = {};
- var localex = i18n.getLocale();
head
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width user-scalable=no")
  meta(charset="utf8")
  base(href="/")
  title=__(title)
  if ui.minifier
    include head-minified
  else
    include head-normal
  if ui.modules.recaptcha
    script(charset="utf-8" src="http://www.google.com/recaptcha/api.js?render=explicit&onload=vcRecaptchaApiLoaded" async defer)
  include ../../../../../../../views/includes/javascripts
  include ../modules
  include ../../../../../../../views/includes/modules
