ul.nav.navbar-nav.navbar-right
  li.dropdown
    a.dropdown-toggle(href="#" data-toggle="dropdown" data-hover="dropdown")
      span.text-space-right#current-language.flag-icon
    ul.dropdown-menu
      li
        a(href="/language/pt")
          span.text-space-right.flag-icon.flag-icon-br
          =__('Portuguese')
      li
        a(href="/language/en")
          span.text-space-right.flag-icon.flag-icon-us
          =__('English')
      li
        a(href="/language/es")
          span.text-space-right.flag-icon.flag-icon-es
          =__('Spanish')
