extends ../layouts/site

block content
  div(class="container")
    div(class="panel panel-default main-panel box-shadow")
     div(class="panel-heading")=__('Reset Password')
     div(class="panel-body")
     fieldset
      div(class="form-group")
       h1=__('Oops! I\'m sorry, but an error occurred while check token to reset your password.')
        br
        small=__('Token is invalid.')