if ui.module
  - var modules = "";
  if ui.module.editor
    - modules += ", 'textAngular'";
  if ui.module.colorPicker
    - modules += ", 'minicolors'";
  if ui.module.switch
    - modules += ", 'toggle-switch'";
  if ui.module.uploader
    if ui.module.uploader.flow
      - modules += ", 'flow'";
    if ui.module.uploader.blueimp
      - modules += ", 'blueimp.fileupload'";
  if ui.module.tree
    - modules += ", 'ui.module.tree'";
  if ui.module.recaptcha
    - modules += ", 'vcRecaptcha'";
  if ui.module.multiSelect
    - modules += ", 'isteven-multi-select', 'angularjs-dropdown-multiselect'"
  if ui.module.rangeSlider
    - modules += ", 'ui-rangeSlider'"
  if ui.module.dragDrop
    - modules += ", 'dndLists'"
  if modules !== ""
    script(charset="utf-8" type="text/javascript").
      vulpe.ng.app = angular.module('app', ['app.controllers'#{modules}]);
