extends ../layouts/site

block content
  .container
    .panel.panel-default.box-shadow
      .panel-heading=__('I forgot my Password')
      .panel-body
        fieldset
          .form-group
            h1=__('Oops! I\'m sorry, but an error occurred while send link to you reset your password.')
              br
              small=__('Please try again in a few moments.')
