extends ../layouts/site

block content
  .container
    .panel.panel-default.box-shadow
      .panel-heading=__('Reset Password')
      .panel-body
        fieldset
          .form-group
            h1=__("Oops! I'm sorry, but an error occurred while check token to reset your password.")
              br
              small=__('Token is invalid.')
