extends ../layouts/site

block contents
  .container
    .panel.panel-default.box-shadow
      .panel-heading=__('Forgot Password')
      .panel-body
        fieldset
          .form-group
            h1=__('Oops! I\'m sorry, but an error occurred while send link to you reset your password.')
              br
              small=__('Please check if your signup was successful confirmed.')
