div(class="btn-group pull-right")
 a(class="btn btn-default btn-xs" ng-click="$root.showing = !$root.showing")
  i(id="main-{{name}}-toggle", class="fa fa-eye fa-fw", ng-class="{'fa-eye-slash':showing}")