each input in inputs
 include input

script(type="text/javascript").
    $('input[append],select[append],textarea[append],div[append],text-angular[append]').each(function(index, input){
        var append = $(input).attr('append');
        if (append) {
            var parts = append.split('~');
            parts.forEach(function(attr){
                if (attr) {
                    if (attr.indexOf(':') !== -1) {
                        var attrParts = attr.split(':');
                        $(input).attr(attrParts[0], attrParts[1]);
                    } else {
                        $(input).attr(attr, '');
                    }
                }
            });
        }
        $(input).removeAttr('append');
    });
