div.btn-group.pull-right
  a.btn.btn-default.btn-sm(ng-click="vulpejs.showing = !vulpejs.showing" title=__('Show/Hide'))
    i.fa.fa-eye.fa-fw(id="main-{{name}}-toggle" ng-class="{'fa-eye-slash':showing}")
