.btn-group.pull-right
  a.btn.btn-default.btn-sm(ng-click="vulpejs.ui.showing = !vulpejs.ui.showing" tooltip=__('Click to show/hide'))
    i.fa.fa-eye.fa-fw(id="main-{{name}}-toggle" ng-class="{'fa-eye-slash':vulpejs.ui.showing}")
