.text-center
  dir-pagination-controls(boundary-links="true" on-page-change="vulpejs.pageChangeHandler(newPageNumber)" template-url="/templates/pagination/dirPagination.tpl.html" pagination-id="items")
