div.btn-group.pull-right
  a.btn.btn-default.btn-sm(ng-click="vulpejs.showing = !vulpejs.showing; vulpejs.create()" title=__('New'))
    i.fa.fa-plus.fa-fw
  a.btn.btn-default.btn-sm(ng-click="vulpejs.showing = !vulpejs.showing" title=__('Show/Hide'))
    i.fa.fa-eye.fa-fw(id="items-{{name}}-toggle" ng-class="{'fa-eye-slash':!vulpejs.showing}")
